{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% includeCssResource 'fieldmanager/css/fieldmanager.css' %}
{% includeJsResource 'fieldmanager/js/fieldmanager.js' %}

{% set title = 'Field Manager' %}

{% set tabs = {
    fields: { label: "Fields"|t, url: url('fieldmanager') },
    import: { label: "Import"|t, url: url('fieldmanager/import') },
} %}

{% set selectedTab = 'import' %}

{% set content %}

<form method="POST" accept-charset="UTF-8">
    <input type="hidden" name="action" value="fieldManager/mapFields">
    {{ getCsrfInput() }}

    {{ forms.textareaField({
        label: 'Data',
        instructions: 'Paste the JSON data to import.',
        name: 'data',
        class: 'code',
        rows: 20,
        value: craft.request.param('data')
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Configure Import'|t }}">
    </div>
</form>



{% endset %}


