{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% includeCssResource 'fieldmanager/css/fieldmanager.css' %}
{% includeJsResource 'fieldmanager/js/fieldmanager.js' %}

{% set title = 'Field Manager' %}

{% set tabs = {
    fields: { label: "Fields"|t, url: url('fieldmanager') },
    import: { label: "Import"|t, url: url('fieldmanager/import') },
} %}

{% set selectedTab = 'import' %}

{% set groups = craft.fields.getAllGroups('id') %}
{% set groupOptions = [{ label: "Don't Import", value: "noimport" }] %}
{% for group in groups %}
    {% set groupOptions = groupOptions|merge([{ label: group.name, value: group.id }]) %}
{% endfor %}

{% set content %}

<p>{{ 'Choose how you want to import your fields. You can modify the Name and Handle for each field, along with assigning it to a Field Group.'|t }}</p>

<form method="POST" accept-charset="UTF-8">
    <input type="hidden" name="action" value="">
    <input type="hidden" name="data" value="{{ craft.request.param('data') }}">
    {{ getCsrfInput() }}

    {% set groups = craft.fields.getAllGroups('id') %}

    <table id="fieldmapping" class="data editable fullwidth collapsible">
        <thead>
            <th style="width: 40%;">{{ "Field Name"|t }}</th>
            <th style="width: 40%;">{{ "Field Handle"|t }}</th>
            <th style="width: 10%;">{{ "Field Type"|t }}</th>
            <th style="width: 10%;">
                {{ forms.selectField({
                    id: 'groupAll',
                    name: 'groupAll',
                    options: groupOptions,
                }) }}
            </th>
        </thead>
        <tbody>
            {% for index, field in fields %}
                <tr>
                    <td class="textarea">
                        <textarea name="fields[{{ index }}][name]" rows="1">{{ field.name }}</textarea>
                    </td>

                    <td class="textarea {% if errors[field.handle] is defined %}has-error{% endif %}">
                        <textarea class="code" name="fields[{{ index }}][handle]" rows="1">{{ field.handle }}</textarea>

                        {% if errors[field.handle] is defined %}
                            <span class="errors">
                                {{ errors[field.handle].getError('handle') }}
                            </span>
                        {% endif %}
                    </td>

                    <td>
                        {{ field.type }}
                    </td>

                    <td class="thin">
                        {{ forms.selectField({
                            id: 'group' ~ index,
                            class: 'groupSelect',
                            name: 'fields[' ~ index ~ '][groupId]',
                            options: groupOptions,
                            value: field.groupId | default(''),
                        }) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="buttons">
        <a href="javascript: window.history.go(-1)" class="btn submit">{{ 'Back'|t }}</a>
        <input type="submit" data-action="fieldManager/import" class="btn submit" value="{{ 'Import'|t }}">

        <div id="newgroupbtn" class="btn add icon submit right">{{ "New Field Group"|t }}</div>
    </div>
</form>

{% endset %}

