#fieldmanager .group a:hover:after,
#fieldmanager .group a {
	color: #333f4d;
}

#fieldmanager .thin {
	text-align: right;
}

#fieldmanager .field td,
#fieldmanager .field th {
	padding-top: 5px !important;
	padding-bottom: 4px !important;
	font-size: 90%;
}

#fieldmanager .field .name {
	padding-left: 20px !important
}

#fieldmanager .checkboxfield {
	display: inline-block;
	margin: 0 5px 0;
	vertical-align: middle;
}

#fieldmanager input.checkbox + label {
	display: inline-block;
}

#fieldmanager .delete-row {
	padding-left: 25px !important;
	padding-right: 10px !important;
}



.sidebar-nav .active a {
	font-weight: bold;
}

body.ltr .rightalign {
	float: right;
}

.clone-btn.element {
	cursor: pointer;
}

.clone-btn.element.loading:after {
	right: -24px !important;
	top: -4px !important;
}


.delete-row .icon.delete {
	font-size: 110%;
}

.icon.delete-group:not(.disabled):hover:before {
	color: #da5a47;
}

.icon.delete-group:before {
	content: 'remove';
	color: rgba(0, 0, 0, 0.2);
}

.unused-field {
	color: #e78640;
	font-size: 11px;
	margin-left: 5px;
}





#FieldManager .modal {
	display: none;
}

.fieldsettingsmodal {
	padding-bottom: 58px;
}

.fieldsettingsmodal .spinner.big {
	width: 100%;
	height: 100%;
 }

.fieldsettingsmodal .main {
	margin: -24px;
	padding: 24px;
	height: calc(100% - 48px);
	overflow: auto;
	position: relative;
}

.fieldsettingsmodal .body {
	position: relative;
	height: 100%;
}

.fieldsettingsmodal .body .content {
	height: calc(100% + 48px);
}

.fieldsettingsmodal .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.fieldsettingsmodal .footer .spinner {
	position: absolute;
}


#fieldmapping {
	width: auto;
	table-layout: fixed;
}

#fieldmapping thead tr th {
	vertical-align: middle;
	border: none;
}

#fieldmapping tbody tr td {
	text-align: left;
}

#fieldmapping tbody tr td.textarea {
	padding: 4px 10px !important;
	vertical-align: top;
}

#fieldmapping tbody tr td.textarea.has-error textarea {
	border: 1px solid #da5a47 !important;
}

#fieldmapping tbody tr td.textarea.has-error .errors {
	color: #da5a47;
	padding: 5px 10px 2px;
	display: block;
}

#fieldmapping textarea {
	padding: 6px 9px;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

#newgroupbtn {
	float: right !important;
}





