{% extends 'field-manager/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Field Manager' | t('field-manager'), url: url('field-manager') },
    { label: 'Export' | t('field-manager'), url: url('field-manager/export') },
] %}

{% set title = 'Export' %}
{% set selectedTab = 'export' %}

{% block blockContent %}

{{ forms.textareaField({
    label: 'Export Data' | t('field-manager'),
    name: 'data',
    class: 'code',
    rows: 30,
    value: json,
}) }}

{% endblock %}


