{% import "_includes/forms" as forms %}


{% set groups = craft.fields.getAllGroups('id') %}

{% set fieldTypes = craft.fields.getAllFieldTypes() %}

{% if field is defined %}
	{% set fieldType = field.getFieldType() %}
	{% set isFieldTypeMissing = not fieldType %}
{% else %}
	{% set isFieldTypeMissing = false %}
{% endif %}

{% if fieldType is not defined or isFieldTypeMissing %}
	{% set fieldType = craft.fields.getFieldType('PlainText') %}
{% endif %}


<div class="content">
	<div class="main">
		<div class="elements">
			<form>
				<input type="hidden" name="redirect" value="fieldmanager">

				{% if field is defined %}
					<input type="hidden" name="fieldId" value="{{ field.id }}">
				{% endif %}

				{{ getCsrfInput() }}

				{% set groupOptions = [] %}
				{% for group in groups %}
					{% set groupOptions = groupOptions|merge([{ label: group.name, value: group.id }]) %}
				{% endfor %}

				{{ forms.selectField({
					first: true,
					label: "Group"|t,
					instructions: "Which group should this field be displayed in?"|t,
					id: 'group',
					name: 'group',
					options: groupOptions,
					value: (group is defined ? group.id : null),
				}) }}

				{{ forms.textField({
					label: "Name"|t,
					instructions: 'What this field will be called in the CP.'|t,
					id: 'name',
					name: 'name',
					required: true,
					autofocus: true,
					value: (field is defined ? field.name : null),
					errors: (field is defined ? field.getErrors('name') : null),
				}) }}

				{{ forms.textField({
					label: "Handle"|t,
					instructions: "How you’ll refer to this field in the templates."|t,
					id: 'handle',
					class: 'code',
					name: 'handle',
					required: true,
					value: (field is defined ? field.handle : null),
					errors: (field is defined ? field.getErrors('handle') : null),
				}) }}

				{{ forms.textareaField({
					label: "Instructions"|t,
					instructions: "Helper text to guide the author."|t,
					id: 'instructions',
					class: 'nicetext',
					name: 'instructions',
					value: (field is defined ? field.instructions : null),
					errors: (field is defined ? field.getErrors('instructions') : null),
					translatable: true
				}) }}

				{% if craft.isLocalized() %}
					{{ forms.checkboxField({
						label: "This field is translatable"|t,
						name: 'translatable',
						checked: (field is defined ? field.translatable : false)
					}) }}
				{% endif %}

				{{ forms.selectField({
					label: "Field Type"|t,
					instructions: "What type of field is this?"|t,
					warning: (fieldId is defined ? "Changing this may result in data loss."|t),
					id: 'type',
					name: 'type',
					options: fieldTypes,
					value: fieldType.getClassHandle(),
					errors: (isFieldTypeMissing ? ["The fieldtype class “{class}” could not be found."|t({ class: field.type })] : null),
					toggle: true
				}) }}

				{% for _fieldType in fieldTypes %}
					{% set isCurrent = (_fieldType.getClassHandle() == fieldType.getClassHandle()) %}
					<div id="{{ _fieldType.getClassHandle() }}"{% if not isCurrent %} class="hidden"{% endif %}>
						{% namespace 'types['~_fieldType.getClassHandle()~']' %}
							{% if isCurrent %}
								{{ fieldType.getSettingsHtml()|raw }}
							{% else %}
								{{ _fieldType.getSettingsHtml()|raw }}
							{% endif %}
						{% endnamespace %}
					</div>
				{% endfor %}
			</form>
		</div>

		<div class="centeralign">
			<div class="spinner loadingmore hidden"></div>
		</div>
	</div>
</div>

{% if field is not defined or not field.handle %}
	{% includejs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}