#fieldmanager .group a:hover:after,
#fieldmanager .group a {
	color: #333f4d;
}

#fieldmanager .thin {
	text-align: right;
}

#fieldmanager .field td,
#fieldmanager .field th {
	padding-top: 5px !important;
	padding-bottom: 4px !important;
	font-size: 90%;
}

#fieldmanager .field .name {
	padding-left: 20px !important
}

#fieldmanager .checkboxfield {
	display: inline-block;
	margin: 0 5px 0;
	vertical-align: middle;
}

#fieldmanager input.checkbox + label {
	display: inline-block;
	top: 2px;
}

#fieldmanager .delete-row {
	padding-left: 25px !important;
	padding-right: 10px !important;
}



.sidebar-nav .active a {
	font-weight: bold;
}



.clone-btn.element {
	cursor: pointer;
}

.clone-btn.element.loading:after {
	right: -24px !important;
	top: -4px !important;
}




.icon.delete-group:not(.disabled):hover:before {
	color: #da5a47;
}
.icon.delete-group:before {
	content: 'remove';
	color: rgba(0, 0, 0, 0.2);
}









#FieldManager .modal {
	display: none;
}

.fieldsettingsmodal {
	padding-bottom: 58px;
}

.fieldsettingsmodal .spinner.big {
	width: 100%;
	height: 100%;
 }

.fieldsettingsmodal .main {
	margin: -24px;
	padding: 24px;
	height: calc(100% - 48px);
	overflow: auto;
	position: relative;
}

.fieldsettingsmodal .body {
	position: relative;
	height: 100%;
}

.fieldsettingsmodal .body .content {
	height: calc(100% + 48px);
}

.fieldsettingsmodal .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.fieldsettingsmodal .footer .spinner {
	position: absolute;
}



