{% extends 'field-manager/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Field Manager' | t('field-manager'), url: url('field-manager') },
    { label: 'Import' | t('field-manager'), url: url('field-manager/import') },
] %}

{% set title = 'Import' %}
{% set selectedTab = 'import' %}

{% set fullPageForm = true %}

{% block actionButton %}{% endblock %}

{% block blockContent %}

<input type="hidden" name="action" value="field-manager/base/map-fields">

{{ forms.textareaField({
    first: true,
    label: 'Data' | t('field-manager'),
    instructions: 'Paste the JSON data to import.' | t('field-manager'),
    name: 'data',
    class: 'code',
    rows: 20,
    value: craft.app.request.param('data')
}) }}

<div class="buttons">
    <input type="submit" class="btn submit" value="{{ 'Configure Import' | t('field-manager') }}">
</div>

{% endblock %}
