{% import "_includes/forms" as forms %}

{% set groups = craft.fields.getAllGroups('id') %}

{% set groupOptions = [] %}
{% for group in groups %}
    {% set groupOptions = groupOptions|merge([{ label: group.name, value: group.id }]) %}
{% endfor %}

{{ forms.selectField({
    first: true,
    label: "Group"|t,
    instructions: "Which group should this field be displayed in?"|t,
    id: 'group',
    name: 'group',
    options: groupOptions,
    value: group.id,
}) }}

{{ forms.textField({
    label: "Name"|t,
    instructions: 'What this field will be called in the CP.'|t,
    id: 'name',
    name: 'name',
    required: true,
    autofocus: true,
    value: field.name,
    errors: (field is defined ? field.getErrors('name') : null),
}) }}

{{ forms.textField({
    label: "Handle"|t,
    instructions: "How you’ll refer to this field in the templates."|t,
    id: 'handle',
    class: 'code',
    name: 'handle',
    required: true,
    value: field.handle,
    errors: (field is defined ? field.getErrors('handle') : null),
}) }}

